* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
}

.nav-bar {
  background-color: rgb(64, 64, 202);
  height: 8vh;
}

/* .nav-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.logo h4 {
  color: white;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.search-bar .input-search input {
  width: 500px;
  line-height: 40px;
  border-radius: 4px;
  outline: none !important;
  border: none;
  margin-left: 10px;
  padding-left: 10px;
}

.input-search {
  position: relative;
}

#search-glass {
  border: none;
  position: absolute;
  background-color: white !important;
  right: 3%;
  top: 10%;
  font-size: 20px;
  color: rgb(69, 69, 69);
  border-radius: 5px;
}

.cart {
  display: flex;
  align-items: center;
  height: 100%;
}

.cart a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
}

.cart a:not(:first-child) {
  margin-left: 20px;
}

.cart a i {
  padding-right: 5px;
  font-size: 23px;
}

/* 
///////////////////////////////////////////

HERE IS SECTION FOR PRODUTS 

//////////////////////////////////////////////*/

.section-products {
  height: 92vh;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.filters {
  padding: 20px 20px 0 20px;
  height: 80vh;
  border: 2px solid grey;
  overflow-y: scroll;
  /* width: 85%; */
}

.filters .sort-price .min-max-price input {
  width: 40%;
  line-height: 30px;
  padding-left: 5px;
  outline: none;
}

.filters h5 {
  padding-bottom: 20px;
}

.check-in-price {}

.un-order-list {
  padding: 20px 0;
}

.filters ul li {
  font-size: 18px;
}

.filters ul li a {
  color: rgb(83, 83, 83);
  padding-left: 5px;
}

.filters ul li input {
  width: 18px;
  height: 18px;
}

.filters .input-search {
  width: 90%;
  line-height: 30px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid grey;
  outline: none;
}

/*
//////////////////////////////////////////////////

PRODUCTS SECTION STYLE 

////////////////////////////////////////
*/

.sort-by {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: 10px 0;
}

.sort-by-input {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.sort-by-input p {
  margin: 0;
  padding-right: 10px;
}

.sort-by-input select {
  width: 160px;
  border-radius: 5px;
  height: 30px;
}

.sort-by-input select option {
  padding: 30px !important;
}

.list-products-item {
  border-top: 1px solid black;
  padding: 30px 0 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-img {
  width: 30%;
}

.product-description {
  width: 40%;
}

.product-price {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product-description .product-description-name {
  width: 80%;
}

.product-description-name a {
  font-size: 18px;
}

.product-description-model {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.product-description-model p {
  font-size: 14px;
}

.product-description-pickup {
  font-size: 16px;
}

.product-description-pickup p {
  margin: 0 !important;
}

#fullprice {
  font-weight: 700;
  font-size: 30px;
}

.price-tag {
  margin-bottom: 25px;
}

#save-price-box {
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: bold;
}

#add-to-cart {
  background-color: rgb(255, 217, 0);
  color: black;
  font-size: 16px;
  padding: 5px 70px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 15px;
}

#add-to-cart i {
  padding-right: 10px;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PRODUCT.HTML STYLESSS  */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.product {
  height: 92vh;
  /* background-color: red;s */
  padding-top: 50px;
}

.prod-images {
  height: 100%;
  /* background-color: blue; */
}

.prod-images img {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.prod-lg-img {
  height: 100%;
  /* background-color: purple; */
}

.prod-description {
  height: 100%;
  /* background-color: pink; */
  padding: 0 30px 30px 30px;
  /* justify-content: center; */
}

.prod-description .header h4 {
  font-weight: bold;
}

.prod-description .header .header-info {
  display: flex;
  justify-content: space-between;
  /* width: 70%; */
  font-size: 14px;
}

.prod-description .header .header-review i {

  color: #ffe000;
}

.prod-description .prod-price h4 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}


.prod-description .prod-availability .prod-delivery {
  display: flex;
}

.prod-pickup {
  border: 1px solid grey;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  transition: all ease-in-out 0.4s;

}

.prod-pickup:hover {
  background-color: rgb(239, 239, 239);
  border: 1px solid blue;
  cursor: pointer;
}

.prod-shipping:hover {
  background-color: rgb(239, 239, 239);
  border: 1px solid blue;
  cursor: pointer;
}



.prod-shipping {
  border: 1px solid grey;
  border-radius: 5px;
  width: 120px;
  margin-right: 10px;
  padding: 10px;
  transition: all ease-in-out 0.4s;
}

.prod-availability h6 {
  padding-top: 15px;
}

.prod-add-to-cart button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  width: 90%;
  background-color: #ffe000;
  padding: 8px 0;

}

.prod-add-to-cart button i {
  padding-right: 10px;
}