* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
}

.nav-bar {
  background-color: rgb(64, 64, 202);
  height: 8vh;
}

/* .nav-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.logo h4 a {
  color: white;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.search-bar .input-search input {
  width: 500px;
  line-height: 40px;
  border-radius: 4px;
  outline: none !important;
  border: none;
  margin-left: 10px;
  padding-left: 10px;
}

.input-search {
  position: relative;
}

#search-glass {
  border: none;
  position: absolute;
  background-color: white !important;
  right: 3%;
  top: 10%;
  font-size: 20px;
  color: rgb(69, 69, 69);
  border-radius: 5px;
}

.cart {
  display: flex;
  align-items: center;
  height: 100%;
}

.cart a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;

}

.cart a:not(:first-child) {
  margin-left: 20px;
}

.cart a i {
  padding-right: 5px;
  font-size: 23px;
}






/* 
///////////////////////////////////////////

HERE IS SECTION FOR PRODUTS 

//////////////////////////////////////////////*/

.section-products {
  height: 92vh;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.filters {
  padding: 20px 20px 0 20px;
  height: 80vh;
  border: 3px solid #d6eef8;
  border-radius: 15px;
  overflow-y: scroll;
  /* width: 85%; */
}

.filters::-webkit-scrollbar {
  width: 16px;
}

.filters::-webkit-scrollbar-track {
  background-color: #d6eef8;
  margin: 10px;
  border-radius: 100px;
}

.filters::-webkit-scrollbar-thumb {
  background-color: rgb(64, 124, 202);
  border-radius: 100px;
}


.filters .sort-price .min-max-price input {
  width: 40%;
  line-height: 30px;
  padding-left: 5px;
  outline: none;
  border: 3px solid #91d3ef;
  border-radius: 5px;
}

.filters h5 {
  padding-bottom: 20px;
}

.filters .sort-price .min-max-price input::placeholder {
  color: #00a1e7;
}

.check-in-price {}

.un-order-list {
  padding: 20px 0;
}

.filters ul li {
  font-size: 18px;
}

.filters ul li a {
  color: rgb(83, 83, 83);
  padding-left: 5px;
}

.filters ul li input {
  width: 18px;
  height: 18px;
}

.filters .input-search {
  width: 100%;
  line-height: 30px;
  padding-left: 8px;
  border-radius: 3px;
  border: 3px solid #91d3ef;
  border-radius: 5px;
  outline: none;
}

.filters .input-search::placeholder {
  color: #00a1e7;
}


.nekidiv {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.custom-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  /* letter-spacing: 5px; */
  /* text-transform: uppercase; */
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 255, 255);
  outline: 2px solid #2c9caf;

}

.custom-btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.custom-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  outline: 2px solid #70bdca;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.custom-btn:hover::before {
  width: 250%;
}


.un-order-list li a {
  color: #00a1e7 !important;
}



/*
//////////////////////////////////////////////////

PRODUCTS SECTION STYLE 

////////////////////////////////////////
*/

.sort-by {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: 10px 0;
}

.sort-by-input {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.sort-by-input p {
  margin: 0;
  padding-right: 10px;
}

.sort-by-input select {
  width: 160px;
  border-radius: 5px;
  height: 30px;
  border: 3px solid #00a1e7;
  color: #0086d4;
}



.sort-by-input select option {
  padding: 30px !important;
}


.nekidiv2 {
  display: flex;
  /* flex-direction: row   */
  justify-content: space-between;
  padding-top: 10px;
}

.list-products-item {
  border-top: 1px solid black;
  padding: 30px 0 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-img {
  width: 30%;
}

.product-description {
  width: 40%;
}

.product-price {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product-description .product-description-name {
  width: 80%;
}

.product-description-name a {
  font-size: 18px;
}

.product-description-model {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.product-description-model p {
  font-size: 14px;
}

.product-description-pickup {
  font-size: 16px;
}

.product-description-pickup p {
  margin: 0 !important;
}

#fullprice {
  font-weight: 700;
  font-size: 30px;
}

.price-tag {
  margin-bottom: 25px;
}

/* #save-price-box {
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: bold;
} */

#add-to-cart {
  background-color: rgb(255, 217, 0);
  color: black;
  font-size: 16px;
  padding: 5px 70px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 15px;
}

#add-to-cart i {
  padding-right: 10px;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PRODUCT.HTML STYLESSS  */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.product {
  height: 85vh;
  /* background-color: red;s */
  padding-top: 50px;
}

.prod-images {
  height: 100%;
  /* background-color: blue; */
}

.prod-images img {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.prod-lg-img {
  height: 100%;


  /* background-color: purple; */
}

.prod-lg-img img {
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
}

.prod-description {
  height: 100%;
  /* background-color: pink; */
  padding: 0 30px 30px 30px;
  /* justify-content: center; */
}

.prod-description .header h4 {
  font-weight: bold;
}

.prod-description .header .header-info {
  display: flex;
  justify-content: space-between;
  /* width: 70%; */
  font-size: 14px;
}

.prod-description .header .header-review i {

  color: #ffe000;
}

.prod-description .prod-price h4 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}


.prod-description .prod-availability .prod-delivery {
  display: flex;
}

.prod-pickup {
  border: 1px solid grey;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  transition: all ease-in-out 0.4s;

}

.prod-pickup:hover {
  background-color: rgb(239, 239, 239);
  border: 1px solid blue;
  cursor: pointer;
}

.prod-shipping:hover {
  background-color: rgb(239, 239, 239);
  border: 1px solid blue;
  cursor: pointer;
}



.prod-shipping {
  border: 1px solid grey;
  border-radius: 5px;
  width: 120px;
  margin-right: 10px;
  padding: 10px;
  transition: all ease-in-out 0.4s;
}

.prod-availability h6 {
  padding-top: 15px;
}

.prod-add-to-cart button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  width: 90%;
  background-color: #ffe000;
  padding: 8px 0;

}

.prod-add-to-cart button i {
  padding-right: 10px;
}



/* DETAILS SECTION */


.details {
  height: 50vh;
  /* padding-top: 10px; */
}

.details .features {
  margin-bottom: 15px;
  border-bottom: 1.5px solid rgb(181, 181, 181);
  position: relative;
}

.details .specifications {
  margin-bottom: 15px;
  border-bottom: 1.5px solid rgb(181, 181, 181);
  position: relative;
}




.button-info {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.arrow {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  font-weight: 600;
  text-align: right !important;
  position: absolute;
  right: 0;
  top: 5px;
  color: grey;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {

  width: 600px !important;
}


/* .offcanvas,
.test {
  width: 300px !important;

} */

.features-stars {
  text-align: center;
  padding-top: 15px;
}



.fa-star {
  color: #ffe000;
}

.img-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-header h6 {
  width: 50%;
  padding-left: 10px;
  font-weight: bold;
}

.features-description {
  padding-top: 25px;
}

.features-description .description1 {
  display: flex;
  justify-content: center;
}

.description1 i {
  padding-top: 5px;
  padding-right: 10px;
}


.offcanvas {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.feature-details {
  padding-top: 30px !important;
}


.review-list {}


.review-rating-div {
  display: flex;
}

.review-rating-div i {
  padding-top: 10px;
  padding-right: 5px;
}

.review-rating-div h2 {
  font-weight: bold;
}


table tr,
th,
td {
  /* border: 1px solid black; */
  /* border-radius: 2px; */
}

/* */





.favorite-products h1 {
  padding: 50px 0px 50px 10px;
}


.zero-products {
  display: none;
}

#add-to-cart {
  transition: all ease-in-out 0.4s;
}

#add-to-cart:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(-2px);
}


#add-to-cart:active {
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(-1px);
}


.product-img img {
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
}

.a_1 {
  cursor: pointer;
}


.offcanvas-body {
  display: flex;
  flex-direction: column;
}


.offcanvas-body a {
  font-size: 20px;
  color: grey;
  padding-top: 10px;
  transition: all 0.4s ease-in;
}

.offcanvas-body a:hover {

  color: #00a1e7;
}



.btn {
  color: #0086d4 !important;
  background-color: white !important;
}