* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 5vh;
  background-color: rgb(37, 112, 243);
}

.nav-bar .logo h1 {
  font-size: 22px;
  color: white;
  padding-left: 30px;
}
.register-section {
  height: 95vh;
  background-color: #f8f9fb;
  padding-top: 100px;
}
.create-account h1 {
  color: blue;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 15px;
}

.create-account .inputs {
  display: flex;
  flex-direction: column;
}

.create-account .inputs input {
  width: 400px;
  line-height: 45px;
  outline: none;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 5px;
  border:1px solid grey;
  font-size: 18px;
  font-style: italic;
  border-radius: 5px;
}

.create-account .inputs label {
  /* color: rgb(108, 103, 103); */
  color: blue ;
  font-weight: bold;
  font-style: italic;
}

#create-acc {
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  padding: 15px 30px;
  color: black;
  background-color: rgb(255, 185, 54);
  border: none;
  border-radius: 3px;
transition: ease-in-out 0.45s;
  }

#create-acc:hover{
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#create-acc:active {
  transform: translateY(-1.5px);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
}

#login-link {
  text-decoration: none;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.hidden {
  display: none;
}



.parts{
  display: flex;
  
}

.parts i{
padding-right: 10px;
font-size: 25px;
color: blue;
padding-top: 10px;
}